mixin footer()
    footer#footer-area
        .footer-links
            .container
                .col-md-2.col-sm-6
                    h5 Information
                    ul
                        li
                            a(href='about.html') About Us
                        li
                            a(href='#') Delivery Information
                        li
                            a(href='#') Privacy Policy
                        li
                            a(href='#') Terms & Conditions
                .col-md-2.col-sm-6
                    h5 My Account
                    ul
                        li
                            a(href='#') My orders
                        li
                            a(href='#') My merchandise returns
                        li
                            a(href='#') My credit slips
                        li
                            a(href='#') My addresses
                        li
                            a(href='#') My personal info
                .col-md-2.col-sm-6
                    h5 Service
                    ul
                        li
                            a(href='contact.html') Contact Us
                        li
                            a(href='#') Returns
                        li
                            a(href='#') Site Map
                        li
                            a(href='#') Affiliates
                        li
                            a(href='#') Specials
                .col-md-2.col-sm-6
                    h5 Follow Us
                    ul
                        li
                            a(href='#') Facebook
                        li
                            a(href='#') Twitter
                        li
                            a(href='#') RSS
                        li
                            a(href='#') YouTube
                .col-md-4.col-sm-12.last
                    h5 Contact Us
                    ul
                        li My Company
                        li
                            | 1247 LB Nagar Road, Hyderabad, Telangana - 35
                        li
                            | Email: 
                            a(href='#') info@demolink.com
                        h4.lead
                            | Tel: 
                            span 1(234) 567-9842
        .copyright
            .container
                p.pull-left
                    | © 2016 Elite Fashion Shoppe Stores. Designed By 
                    a(href='http://sainathchillapuram.com/') Sainath Chillapuram
                ul.pull-right.list-inline
                    li
                        img(src='images/payment-icon/cirrus.png', alt='PaymentGateway')
                    li
                        img(src='images/payment-icon/paypal.png', alt='PaymentGateway')
                    li
                        img(src='images/payment-icon/visa.png', alt='PaymentGateway')
                    li
                        img(src='images/payment-icon/mastercard.png', alt='PaymentGateway')
                    li
                        img(src='images/payment-icon/americanexpress.png', alt='PaymentGateway')
    
