mixin sidebarCategory(categorysidebar)
   
        .col-md-3
            h3.side-heading Categories
            .list-group.categories
                each cat in categorysidebar
                    a.list-group-item(href=`/product/${cat._id}`)
                        i.fa.fa-angle-right  
                            |&nbsp;#{cat._id}

                    
